
{% extends 'base.html' %}
{#  #}
{% load static %}

{% block content %}
    <div id="filter">
        <div class="box">
            <h3>Filtre</h3>
            <form method="post" id="periode_form" class="form-group">
                {% csrf_token %}
                {# <input type="text" class="datepicker-here form-control" id="minMaxExample" data-date-format="dd/mm/yyyy" data-language='en' placeholder="Sélectionner la période"> #}
                {{form.date}}
                {{form.activity}}                
                <button class="btn btn-primary" id="filter-btn">Générer</button>
            </form>
        </div>
        <hr>
    </div>
    <h2>Récapitulatif<span id="date"></span> </h2>
    <h3>Activité: <span id="activity-name"></span> </h3>
    <div id="stats">
        <div id="dealed">
            <span>Appels traités</span>
            {# <img src="{% static 'img/call_answered.png'%}" alt=""> #}
            <img src="{% static 'img/call_answered.png'%}" alt="">
            
            <span class="nb"></span>
        </div>
        <div id="wait">
            <span>DMA</span>
            {# <img src="{% static 'img/wait.png'%}" alt="Waiting time"> #}
            <img src="{% static 'img/wait.png'%}" alt="Waiting time">
            
            <span class="nb">8</span>
        </div>
        <div id="processed">
            <span>DMT</span>
            {# <img src="{% static 'img/time_processed.png'%}" alt="Time processed"> #}
            <img src="{% static 'img/time_processed.png'%}" alt="Time processed">
            
            <span class="nb">110</span>
        </div>
        <div id="post_process">
            <span>DPT</span>
            {# <img src="{% static 'img/post_process.png'%}" alt="Post"> #}
            <img src="{% static 'img/post_process.png'%}" alt="Post">
            
            <span class="nb">10</span>
        </div>
        <div id="com">
            <span>DMC</span>
            {# <img src="{% static 'img/call_time.png'%}" alt="Call time"> #}
            <img src="{% static 'img/call_time.png'%}" alt="Call time">
            
            <span class="nb">120</span>
        </div>
    </div>
    <hr>
    <button id="indice" class="btn btn-primary">Ajouter un indice</button>
    <button id="export" class="btn btn-success">Exporter</button>
    <div class="loader"></div>
    <div id="graphs">
        <br>
        <form method="post" id="distrib_form" class="form-group">
            <select name="distrib" id="distrib" class="form-control" placeholder="Sélectionnez la distrib">
                <option value selected >Selectionnez la distribution</option>
                <option value="5"> 5 min</option>
                <option value="10"> 10 min</option>
                <option value="15"> 15 min</option>
                <option value="30"> 30 min</option>
                <option value="1"> Jour</option>
            </select>
            <button class="btn btn-primary" id="view">Visualiser</button>
        </form>
        <div id="calls_and_sl"></div>
        <div id="dms"></div>
        <!-- <div id="parts"></div> -->
    </div>
{% endblock content %}