{% extends 'admin/change_form.html' %}

{% block content %}
     {{block.super}}
     <h1>Simple title</h1>
     {% load static %}
     {# <script src="{% static 'script.js' %}"></script> #}
     <script src="{% static 'script.js' %}"></script>
     {% block extrajs %}
          <script>console.log("test")</script>
     {% endblock %}
{% endblock %}

{% comment  %}
     {% block extrajs %}
          {{ block.super }}
          <script src="{% static 'js/custom_admin.js' %}"></script>
     {% endblock  %}
     
{% endcomment %}

{% comment  %}
{% block extrajs %}
     {{block.super}}
     <script>console.log("test")</script>
{% endblock %}
{% endcomment %}
